.keypad {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    margin-top: 10px;
}

.keypad > button.col-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: calc(85% + 10px);
}

.keypad > button {
    margin: 5px auto;
    width: 85%;
    height: 50px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
}

.keyColorYellow {
    background: #f3ff83;
}

.keyColorYellow:hover {
    background: #fffb00;
}

.keyColorDark {
    background: #333333;
}

.keyColorDark:hover {
    background: #9e9e9e;
    color: black;
}

.keyColorWhite:hover {
    background: #888888;
    color: white;
}

.keyFontBlack {
    color: #000000;
}

.keyFontWhite {
    color: #ffffff;
}