.logTitle {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.logResetBtnDiv {
    position: relative;
}

.logResetBtnDiv > button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 5px;
    background: white;
    padding: 5px;
    font-size: 15px;
    outline: none;
}

.logResetBtnDiv > button:hover {
    background: rgb(99, 99, 99);
    color: white;
}

.logList {
    background: #333333;
    color: white;
    border-radius: 10px;
    padding: 15px;
}

.logItem {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.logItem:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}